@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,900;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

/*---GENERALES---*/
h2{
    font-size: 2.5rem;
}

header{
    width: 100%;
    height: 80vh;
    min-height: 40rem;
    background-image: linear-gradient(rgba(5, 7, 12, 0.6), rgba(5, 7, 12, .6)), url(../img/header-img.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;  
}

/*---NAVBAR---*/
.navbar-brand{
    font-size: 1.6rem;
    color: antiquewhite;
}

.navbar-nav .nav-link{
    font-size: 1.4rem;
    color: #faebd7;
}

.navbar-brand:hover{
    color: #fff;
}

.nav-link:hover{
    color: #fff;
}

.boton-tel .btn{
    font-size: 1.3rem;
    background-color: #d7a838;
    border: #bdb76b;
}

.boton-tel .btn:hover{
    background: none;
    border: 2px solid #d7a838;
}
 .navbar .navbar-toggler{
    font-size: 1.2rem;
    font-weight: 700;
 }
.menu-burguer{
    color: #d7a838;
}

.encabezado{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #faebd7;  
}

.encabezado h1{
    font-size: 4rem;
}

.parrafo-negrita{
    font-weight: 700;
}

.nosotros h6{
    line-height: 1;
   
}



/*---MEDIA QUERIES---*/
@media(max-width: 990px){
    .navbar .navbar-brand{
        font-size: 1.5rem;
    }
    .encabezado h1{
        font-size: 2.5rem;
    }
}


